fastapi
uvicorn
pandas
numpy
scikit-learn
seaborn
matplotlib
python-multipart
jinja2
xgboost
google-generativeai
python-dotenv
joblib
reportlab
pillow
bcrypt
gunicorn
psycopg2-binary
sqlalchemy
pyodbc
